html,
body {
    background-color: #f7f7fa;
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.table {
    width: 100%;
    padding: 40px 0px;
}

.container {
    width: 90%;
    margin: auto;
    overflow: auto;
}

.card {
    width: 25%;
    padding: 10px;
    float: left;
}

.image {
    text-align: center;
    padding: 10px 0px;
}

.tool {
    padding: 25px 20px 35px 20px;
    margin: 5px 0px 10px 0px;
    background-color: white;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.tech-item {
    color: #222629;
    font-size: 22px;
    padding: 5px 0px;
    line-height: 40px;
    font-weight: 600;
}

.content {
    color: #000000;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0px;
    opacity: 87.0%;
}

.tool:hover {
    bottom: 20px;
    position: relative;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .15);
    border-top: 10px solid red;
}

.blue {
    border-color: #53c1de;
}

.blue:hover {
    border-top: 10px solid #53c1de;
}

.grey {
    border-color: #999;
}

.grey:hover {
    border-top: 10px solid #999;
}

.green {
    border-color: #a4c639;
}

.green:hover {
    border-top: 10px solid #a4c639;
}


.social {
    padding: 200px 0px;
    width: 50%;
    overflow: auto;
    margin: auto;
}

.contain {
    width: 25%;
    float: left;
    padding: 40px;
}

.icon {
    float: left;
    font-size: 50px;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    line-height: 100px;
    border-radius: 50%;
}

.icon:hover {
    border-radius: 0px;
    text-align-last: center;
    transition: 0.3s ease-out;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.15);
}

.icon:hover .social-icon {
    transform: rotateZ(360deg);
    transition: transform 0.4s ease-out;

}

.fb .blue-color {
    color: #3b5998;
}

.fb:hover {
    background-color: #3b5998;
    color: #fff;
}

.fb:hover .blue-color {
    color: #fff;
}

.insta .brown-color {
    color: brown;
}

.insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #fff;
}

.insta:hover .brown-color {
    color: #fff;
}

.you-tube .red-color {
    color: #c4302b;
}

.you-tube:hover {
    background-color: #c4302b;
    color: #fff;
}

.you-tube:hover .red-color {
    color: #fff;
}

.twitter .skyblue-color {
    color: #00acee;
}

.twitter:hover {
    background-color: #00acee;
    color: #00acee;
}

.twitter:hover .skyblue-color {
    color: #fff;
}

.main-container {
    width: 49.5%;
    margin: auto;
    overflow: auto;
    text-align: center
}

.one {
    width: 33.33%;
    float: left;
    overflow: hidden;
    position: relative;
}

.tech-image {
    filter: blur(1.5px);
    max-height: 200px;
    overflow: hidden;
    z-index: 2;
    white-space: nowrap;
    filter: blur(1.5px);
}

.tech-name {
    color: white;
    font-size: 22px;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
}
.tech-image:hover{
    transform: scale(1.15,1.15);
    transition: transform .5s ease-in-out;
    overflow: hidden;
    filter: blur(0px);
}
